<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/favicon.png" rel="icon" />

    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="module" src="https://js.api.here.com/v3/3.1/mapsjs.bundle.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/tangram/dist/tangram.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="/vendors/toastr/toastr.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <script src="/js/toast.js"></script>
  </head>
  <body>
    <header>
      <div class="px-3 py-2 bg-primary bg-gradient text-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none h4">
              Pinpoint Lokasi Tes Covid-19 Bogor
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="/dashboard" class="nav-link text-white <%= title === 'Dashboard' && 'bg-success' %>">
                  <i class="bi bi-speedometer2"></i> Dashboard</a
                >
              </li>
              <li>
                <a href="/lokasi" class="nav-link text-white <%= title === 'Lokasi' && 'bg-success' %>">
                  <i class="bi bi-geo-alt-fill"></i> Daftar</a
                >
              </li>
              <%if(login) {%>
              <li>
                <a href="/lokasi/pending" class="nav-link text-white <%= title === 'Pending' && 'bg-success' %>">
                  <i class="bi bi-geo-alt-fill"></i> Lokasi Unpublished</a
                >
              </li>
              <%}%> <%if(!login) {%>
              <li>
                <a href="/login" class="nav-link text-white <%= title === 'Login' && 'bg-success' %>">
                  <i class="bi bi-door-open"></i> Masuk</a
                >
              </li>
              <%} else{%>
              <li>
                <a href="/login/logout" class="nav-link text-white"> <i class="bi bi-door-closed"></i> LogOut</a>
              </li>
              <%} %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container mt-4"><%- body %></main>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.1.0/js/dataTables.searchBuilder.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap.min.js"></script>
    <script src="/js/datatables.js"></script>
    <script src="/vendors/toastr/toastr.js"></script>

    <script>
      const hereApiKey = '<%= process.env.HERE_API_KEY %>';
      const login = '<%-login%>';
    </script>
    <script src="/js/here.js"></script>
  </body>
</html>
