<div class="card shadow p-4">
  <form method="POST" action="<%=action%>" enctype="multipart/form-data">
    <div class="row">
      <% dataLokasi.forEach(e => { %>
      <div class="col-sm-12 col-lg-6 mb-3">
        <% if(e.name != 'kecamatan'){ const readonly = e.readonly && "readonly" %> 
        <div class="form-floating">
          <input
            <%=readonly%>
            type="<%=e.type%>"
            class="form-control"
            id="<%=e.name%>"
            name="<%=e.name%>"
            placeholder="<%=e.name%>"
            value="<%=e.value%>"
            max=1000
            required
          />
          <label for="<%=e.name%>"><%=e.pl%></label>
        </div>
        <% } else { %>
        <div class="form-floating">
          <select class="form-select" name="kecamatan" id="floatingSelect" required>
            <option disabled selected value><%= e.pl%></option>
            <% e.kecamatan.forEach(e => { const selected = e.value && "selected" %>
            <option <%=selected%> value="<%=e.name%>" ><%=e.name%></option>
            <% }) %>
          </select>
          <label for="floatingSelect">Kecamatan</label>
        </div>
        <% } %>
      </div>
      <% })%> <% dataJenis.forEach(e => { const checked = e.value && "checked" %>
      <div class="col-sm-6 col-lg-1 mb-3">
        <div class="form-check form-switch">
          <input class="form-check-input" <%=checked%> type="checkbox" id="<%=e.name%>" name="<%=e.name%>" />
          <label class="form-check-label" for="<%=e.name%>"><%=e.pl%></label>
        </div>
      </div>
      <% })%>

      <div class="col-md-12 mb-3">
        <div class="form-group">
          <label>Foto</label>
          <input type="file" name="image" class="form-control" />
        </div>
      </div>
    </div>
    <div style="height: 500px" id="mapContainer"></div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  <% const toastSuccess=messages.success %> <% const toastError=messages.error %>
</div>

<script>
  $(document).ready(function () {
    window.action = 'submit';
    const toastSuccess = '<%= toastSuccess %>';
    const toastError = '<%= toastError %>';
    toastSuccess != '' && notification('success', toastSuccess);
    toastError != '' && notification('error', toastError);
  });
</script>
